apiVersion: app.srvptt2.online/v1
kind: Lobby
metadata:
  labels:
    app.kubernetes.io/name: lobby
    app.kubernetes.io/instance: loblobby-t1-test
    app.kubernetes.io/part-of: app-controller
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: app-controller
  name: lobby-t1-test
  namespace: system
spec:
  replicas: 2
  dedicated:
  enable_service: true
  image: pgtgs/lobby-t1:latest
  domain: lobby-t1-test.rpgp.cc
  token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiR1BJIiwic3ViIjoiNGU4NjcxOWYtMjQzZi00NmY2LWIwMTAtNWM3NThiNzI4NWFmIiwibmJmIjoxNjQ2OTA2NTA3LCJleHAiOjE2NDY5MTAxMDcsImlhdCI6MTY0NjkwNjUwNywiaXNzIjoidGdzIn0.8g2Fb_MyHDkHB8wDVTNW4OrRESkE_X3q2ThAvFGzP7tnzL7c3ei6LWxXv_L7PoXRTWGEeH_K7P5LoC25uwTEPiPOsz8pg2jgxaNJxmldZqvZ147vDs5XGp_xU1PR_myP0bnFT6yqqi1ggGgrmpV2XDz8A_BQx5BXCf2XJik92JjKqE2NR-U06wE2R4N24dkZdAH5xCjwlQs7jreSpmL-7sodFw7DefTC-lo0iAy6jBCTTIjBQ7mmyOoSPndCZmyji9d8Kpc7QLmnblmHRvVnrJU3OkuNttSZWh-uDxLufS42j5fvPHPCESjbf8pFD870LhNd4BKec3DfkrMbBt3o6A