iVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{.ObjectMeta.Name}}
    type: frontend
  name: {{.ObjectMeta.Name}}
  namespace: {{.ObjectMeta.Namespace}}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{.ObjectMeta.Name}}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{.ObjectMeta.Name}}
        type: frontend
    spec:
      containers:
      - env:
        - name: CURRENCY
          value: $currency
        - name: BRAND
          value: PGG
        - name: DEFAULT_LANGUAGE
          value: $lang
        - name: THEME
          value: red
        - name: SOURCE_URL
          value: https://images.srvptt.com/
        image: {{.Spec.Image}}
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 5
          successThreshold: 1
          tcpSocket:
            port: 80
          timeoutSeconds: 1
        name: {{.ObjectMeta.Name}}
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 5
          successThreshold: 1
          tcpSocket:
            port: 80
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 30m
            memory: 50Mi
          requests:
            cpu: 5m
            memory: 30Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /data
          name: site-data
      dnsPolicy: ClusterFirst
      imagePullSecrets:
      - name: registry-credentials
      - name: dockerhub
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      {{if .Spec.Dedicated}}  
      nodeSelector:
        dedicated:  {{.Spec.Dedicated}}
      tolerations:
      - effect: NoSchedule
        key: dedicated 
        operator: Equal
        value: {{.Spec.Dedicated}}
      {{end}}
      volumes:
      - emptyDir: {}
        name: site-data
