---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: lobbies.app.srvptt2.online
spec:
  group: app.srvptt2.online
  names:
    kind: Lobby
    listKind: LobbyList
    plural: lobbies
    singular: lobby
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Lobby is the Schema for the lobbies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LobbySpec defines the desired state of Lobby
            properties:
              domain:
                type: string
              enable_ingress:
                type: boolean
              enable_service:
                type: boolean
              image:
                description: Foo is an example field of Lobby. Edit lobby_types.go
                  to remove/update
                type: string
              replicas:
                type: integer
              token:
                type: string
            required:
            - domain
            - enable_service
            - image
            - replicas
            - token
            type: object
          status:
            description: LobbyStatus defines the observed state of Lobby
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
